body{ 
  font-family: "Poppins, sans-serif;"
}
html{
  scroll-behavior: smooth;
}

.navbar{
  font-size: 1.3rem;
  background: transparent;
}


.logo{
  font-weight: bolder;
}

.nav-item{
  padding: 2%;
}

img.stretchy{
  width: 100%;
}

.home{
  padding-top: 80px;
  /* margin-bottom: 10%;  */
  /* height: 650px; */
}

.name {
  margin-top: 68px;
  color: #201F1D;
  font-family: "Poppins", sans-serif;
  
}

.main-greeting{
  font-weight: bold;
  font-size: 3.2rem;
}

.button{
  padding: 10% 0;
}

.btn1 {
  background-color: #2A7AB0;
  color: white;
  border-radius: 10px;
  padding: 15px 20px 15px 20px;
  font-weight: 4;
  border-color: #2A7AB0;

}

.list{
  margin-right: 10%;
}

.social-icon{
  margin-left: -2.5%;
}

.socials{
  padding: 0 15px 0;
  color: #2A7AB0;;
}



.socials:hover {
  transform: translateY(-1px);
}


.btn1 {
  align-items: center;
  background-clip: padding-box;
  /* background-color: #007FAA; */
  background-color: #2A7AB0;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.btn1:hover {
  transform: translateY(-1px);
  text-decoration: none !important;
}


.image {
  width: 100%;
  height: auto;
  background: none;
  /* box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 2px; */
}

/* ABOUT SECTION */

.img{
  width: 100%;
  height: auto;
  background: none;
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 2px;

}

.about{
  margin-top: 8%;
}

.aboutsection-heading{
  font-size: 3rem;
  text-align: center;
  color: #201F1D;
  font-weight: bolder;
  padding-bottom: 6%;
}

.about-description{
  line-height: 2;
  text-align: justify;
}


/* SKILLS SECTION */

.skill-paragraph{
  padding-right: 10px;
  /* padding-top: 5%; */
  line-height: 1.5;
  font-size: 1.3rem;
}

/* .skill-range-bar{
  padding-top: 5%;
} */

.skill-bars{
  padding: 25px 30px;
  width: 520px;
  background: #fff;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
  border-radius: 10px;
}
.skill-bars .bar{
  margin: 20px 0;
}
.skill-bars .bar:first-child{
  margin-top: 0px;
}
.skill-bars .bar .info{
  margin-bottom: 5px;
}
.skill-bars .bar .info span{
  font-weight: 500;
  font-size: 17px;
  opacity: 0;
  animation: showText 0.5s 1s linear forwards;
}
@keyframes showText {
  100%{
    opacity: 1;
  }
}
.skill-bars .bar .progress-line{
  height: 10px;
  width: 100%;
  background: #f0f0f0;
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 10px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05),
              0 1px rgba(255,255,255,0.8);
  animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}
@keyframes animate {
  100%{
    transform: scaleX(1);
  }
}
.bar .progress-line span{
  height: 100%;
  position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  background: #2A7AB0;
  /* background: #007FAA; */
  animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}
.bar .progress-line.cloud-computing span{
  width: 75%;
}
.bar .progress-line.cr-sp span{
  width: 90%;
}
.bar .progress-line.aws span{
  width: 50%;
}
.bar .progress-line.java span{
  width: 60%;
}
.bar .progress-line.sql span{
  width: 80%;
}
.bar .progress-line.team-management span{
  width: 90%;
}
.bar .progress-line.azure span{
  width: 75%;
}
.progress-line span::before{
  position: absolute;
  content: "";
  top: -10px;
  right: 0;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
.progress-line span::after{
  position: absolute;
  top: -28px;
  right: 0;
  font-weight: 500;
  background: #000;
  color: #fff;
  padding: 1px 8px;
  font-size: 12px;
  border-radius: 3px;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
@keyframes showText2 {
  100%{
    opacity: 1;
  }
}
.progress-line.cloud-computing span::after{
  content: "75%";
}
.progress-line.cr-sp span::after{
  content: "90%";
}
.progress-line.aws span::after{
  content: "50%";
}
.progress-line.java span::after{
  content: "60%";
}
.progress-line.sql span::after{
  content: "80%";
}
.progress-line.team-management span::after{
  content: "90%";
}
.progress-line.azure span::after{
  content: "75%";
}

.Overall-skills{
  /* padding: 7% 15%; */
  text-align: justify;
  margin-bottom: 5%;
  margin-top: 7%;
}

.skill-heading{
  font-size: 3rem;
  text-align: center;
  color: #201F1D;
  padding-bottom: 6%;
  font-weight: bolder;
}

h5{
  padding-top: 3%;
  display: inline-block;
}



/* EXPERIENCE SECTION */


.experience-column{
  /* padding: 3% 2%; */
  color: white;
}

.experience-heading{
  font-size: 3rem;
  text-align: center;
  color: #201F1D;
  padding-bottom: 4%;
  font-weight: bolder;
}


.crd-thirdtitle {
  display: block;
  width: 100%;
}

.card-cont {
  perspective: 1000;
  margin: 0 auto 50px;
  /* width: 400px; */
}

.crd-front, .crd-back {
  backface-visibility: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  padding: 30px;
  box-sizing: border-box;
  transition-delay: 0.15s;
  transition: 0;
}

.crd-front {
	transform: rotateY(0deg);
}

.crd-back {
	transform: rotateY(180deg);
  opacity: 0;
  padding-top: 60px;
  backface-visibility: visible;
  background: black;
  color: white;
}

.crd {
  position: relative;
  width: 20rem;
  height: 25rem;
  background: #2A7AB0;
  border-radius: 5px;
  box-shadow: 0 40px 110px rgba(0, 0, 0, 0.45);
  overflow: hidden;
  transition: 0.5s;
	transform-style: preserve-3d;
}
  .crd:hover {
    transform: rotateY(180deg);
  }
    .crd-front:hover {
      opacity: 0;
    }
    .crd-back:hover {
      opacity: 1;
    }
  


.sub-title {
  color: white;
  text-align: center;
  animation: slide-in 0.75s;
  animation: slide-in 0.75s cubic-bezier(0.625, 0.075, 0.110, 1.165);
  animation-timing-function: cubic-bezier(0.625, 0.075, 0.110, 1.165);
  font-size: 1.5rem;
  font-weight: 200;
  margin: 0 0 0 0;
}

.title {
  color: white;
  animation: slide-in-slow 0.75s;
  animation: slide-in-slow 0.75s cubic-bezier(0.625, 0.075, 0.110, 1.165);
  animation-timing-function: cubic-bezier(0.625, 0.075, 0.110, 1.165);
  font-size: 1.875rem;
  text-align: center;
  margin: 25% 0 0;
  font-weight: 600;
}

p {
  color: rgba(white, 0.85);
  font-size: 19px;
  line-height: 1.5;
  margin: 0 0 35px;
}


.crd-thirdtitle {
  text-align: center;
  position: absolute;
  bottom: 30%;
  left: 0;
  animation: slide-in-right 1.25s;
  animation: slide-in-right 1.25s cubic-bezier(0.625, 0.075, 0.110, 1.165);
  animation-timing-function: cubic-bezier(0.625, 0.075, 0.110, 1.165);
  font-size: 1.8rem;
  font-weight: 500;
  margin: 0;
  color: white;
}


@keyframes slide-in {
  0% {
    transform: translate3d(-300px, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slide-in-slow {
  0% {
    transform: translate3d(-300px, 0, 0);
  }
  20% {
    transform: translate3d(-300px, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slide-in-right {
  0% {
    transform: translate3d(400px, 0, 0);
  }
  30% {
    transform: translate3d(400px, 0, 0);
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}


/* .card-color{ 
  background-color: #2A7AB0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
} */




/* FOOTER SECTION */

.footer {
  color: white;
  
}

.foot{ 
  background-color: #201F1D;
  padding: 2% 15% 0;
}

.heading-footer-left{
  padding-bottom: 15px;
  color: white;
}

.footer-contact{
  padding-bottom: 10px;
  color: white !important;
  font-size: 1.2rem;
}


input[type=text] {
  all: unset;
  background-color: #3f3f3f;
  width: 49%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid black;
  color: white;
}

input:focus{
  border: none;
  border-bottom: 2px solid black;
}



#fname, #message{ 
  width: 100%;
}

::placeholder {
  color: white;
  opacity: 1; 
  font-family: "Poppins", sans-serif;
}

.copyright{ 
  text-align: center;
  color: white;
  font-family: "Poppins", sans-serif;
  margin-bottom: 0;
  padding: 1.2% 0;
}

.submit{ 
  text-align: center;
  padding-top: 20px;
}

.submit:hover{
  transform: translateY(-1px);
}

/* NAVBAR HOVER EFFECT */

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: #555;
}

nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}
nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #2A7AB0;
  height: 3px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}

nav.fill ul li a {
  transition: all 2s;
}

nav.fill ul li a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}
nav.fill ul li a:hover {
  color: #fff;
  z-index: 1;
}
nav.fill ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}


@media (max-width: 1028px){
  .home{
    text-align: center;
  }

}